* {
    margin: 0;
    box-sizing: border-box;
  }
  .header {
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  }

  .header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
  }
.name2{
    color: blue;
    font-weight: bold;
}
  .header__input input {
    border: none;
    background-color: transparent;
  }
  .header__middle {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
  }
  .header__option.active {
    border-bottom: 4px solid 
  }
  
  .header__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
  }
  
  .header__info {
    display: flex;
    align-items: center;
  }
  
  .header__info h4 {
    margin-left: 10px;
  }
  .header__right {
    display: flex;
    align-items: center;
  }
  .name{
    float: right;
    max-width: 100%;
  }
.name:hover {
        background-color: #eff2f5;
        border-radius: 10px;
        align-items: center;
        padding: 0 30px;
        border-bottom: none;
 }
.cover-photo {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.profile-picture {
    border-radius: 50%;
    border: 4px solid #fff;
    margin: -50px 30px 0 30px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: left;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.profile-picture:hover {
    transform: scale(1.1);
}
.user{
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding: 10px;
    
}
.story{
    gap: 20px;
    display: flex;
    padding: 5px;
    font-size: large;
    
}
.story1{
    background-color: rgb(30, 30, 244);
    color: white;
}
  /* sidebar  */

  .sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebarRow:hover {
    background-color: lightgray;
    border-radius: 10px;
  }
  
  .sidebarRow h4 {
    margin-left: 20px;
    font-weight: 600;
  }

  
